body {
    background-color: #152B2F;
    font-family: "Nunito", sans-serif;
}

h1 {
    color: black;
    font-size: 30px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.titre {
    gap: 6px;
}

span {
    background-color: #EDEABB;
    border-radius: 6px;
    width: 42px;
    height: 42px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: sans-serif;
}

p {
    display: flex;
    justify-content: center;
    color: white;
    margin: auto;
    font-size: 15px;
}

table {
    margin: auto;
    border-spacing: 6px 14px;
}


table td {
    text-align: center;
    background-color: #EDEABB;
    border-radius: 6px;
    color: black;
    font-family: sans-serif;
    font-weight: 600;
    width: 40px;
    height: 40px;
    font-size: 18px;
}


.bien {
    background-color: #82CCB4;
}

.mal {
    background-color: #FFD890;
}

.faux {
    background-color: #E3E6E2BA;
}

div {
    display: flex;
    justify-content: center;
}

div button {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    border-radius: 50px;
    background-color: #82CCB4;
    color: #2B2B2B;
    font-size: 14px;
    border: none;
    padding: 10px 18px;
    margin: 10px;
}