body {
    background-color: #152B2F;
}

h1 {
    color: black;
    font-size: 30px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.titre {
    gap: 6px;
}

span {
    background-color: #EDEABB;
    border-radius: 6px;
    line-height: 1;
    width: 18px;
    height: 18px;
    padding: 12px;
    text-align: center;
}

p {
    display: flex;
    justify-content: center;
    color: white;
    margin: auto;
    font-size: 15px;
}

table {
    display: flex;
    justify-content: center;

    td {
        text-align: center;
        background-color: #EDEABB;
        border-radius: 6px;
        color: black;
        font-family: sans-serif;
        line-height: 1;
        width: 24px;
        height: 24px;
        padding: 12px;
    }
}

.bien {
    background-color: #82CCB4;
}

.mal {
    background-color: #FFD890;
}

.faux {
    background-color: #E3E6E2BA;
}

div {
    display: flex;
    justify-content: center;

    button {
        border-radius: 50px;
        padding: 10px;
        margin: 10px;
    }

}